body{
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
img{
    width: 100%;
}
h2{
    color: blue;
    text-align: center;
}
#outertable{
    width: 100%;
    height: 600px;
    /* margin-bottom: 900px; */
    /* margin-left: 690px; */
    background-color: skyblue;
}
/* div{
    margin-top: 100px;
    margin-left: 100px;
} */

 #outertable tr td input{
    /* display: flex; */
    margin-top: 30px;
}

label{
    font-size: medium;
    font-weight: bold;
}
#loginbtn{
    background-color: beige;
    width: 50px;
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    margin-left: 50px;
    padding-right: 20px;
    transition: 0.4s ease-in-out;
}

#loginbtn:hover{
    background-color: orangered;
}
